* {
  box-sizing: border-box;
}
body {
  min-height: 100%;
  border: 0;
}
.section_two {
  min-height: 100vh;
}
.edu_details{
  padding-top: 3%;
  text-align: center;
}
.edu_details h1{
  font-size: 350%;
  opacity: 0.7;
}