body {
  background-color: #f6f8fa;

}

.menu_holder {
  display: none;
}
.menu_holder_large{
  display: none;
}

.navbar_container {
  background-color: white;
  width: 40%;
  height: 55px;
  margin-top: 0.5%;
  padding: 0%;
  border-radius: 25px;
  display: flex;
  box-shadow: 0px 10px 10px 2px #dadada;
  cursor: pointer;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.navbar_container ul {
  padding-left: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 110%;
  display: flex;
  width: 100%;
  list-style-type: none;
  align-self: center;
}

.navbtn {
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbtn:hover,
.navbtn.active {
  color: #00a2e2;
  transition: all 0.4s;
}

.navbtn::after {
  content: "";
  height: 4px;
  width: 0%;
  background-color: #00a2e2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: -4px;
  opacity: 0;
  pointer-events: none;
}

.navbtn:hover::after,
.navbtn.active::after {
  transition: all 0.3s;
  width: 100%;
  opacity: 1;
}

@media (max-width:700px) {
  .navbar_container {
    visibility: hidden;
  }

  .navbar_container ul {
    padding-left: 0%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 110%;
    display: block;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
  }

  .menu_holder {
    display: block;
    background-color: white;
    width: 100%;
    max-height: 50px;
    padding: 0%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 10px 10px 2px #dadada;
    cursor: pointer;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    transition: max-height .7s ease-in-out;
    z-index: 2;
  }

  .menu_holder_large{
    display: block;
    background-color: white;
    width: 100%;
    max-height: 500px;
    padding: 0%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 10px 10px 2px #dadada;
    cursor: pointer;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    transition: max-height .7s ease-in-out;
    z-index: 2;
  }

  .menu_icon {
    height: 30px;
    width: 30px;
    background-color: #00a2e2;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
    border-radius: 10%;
    border: solid 1px;
    margin-bottom: 20px;
  }

  .menu_icon:hover {
    background-color: #01acf0;
  }
  .menu_content{
    margin-top: 12%;
    text-align: center;
  }
  .menu_content ul{
    list-style-type: none;
  }
  .menu_content ul li{
    margin-top: auto;
    margin-bottom: 5%;
  }
}