body {
  min-height: 100%;
}

.section_four {
  min-height: 100vh;
}

.project_details {
  padding-top: 3%;
  text-align: center;
}

.project_details h1 {
  font-size: 350%;
  opacity: 0.7;
}

.card_container {
  display: flex;
  justify-content: center;
  gap: 15%;
}

.proj_img {
  max-width: 100%;
  border-radius: 5px;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 10px 10px 2px #dadada;
}

.project_image_container {
  height: 100%;
  width: 100%;
}

.splide img {
  width: 100%;
}
.card_title{
  font-family: cursive;
  font-size: xx-large;
}
.card_text{
  overflow: hidden;
  transition: max-height .7s ease-in-out;
  max-height: 0;
}
#card_text{
  text-align: justify;
  padding-left: 12px;
  padding-right: 12px;
}
.card_slide{
  transition: max-height .7s ease-in-out;
  overflow: hidden;
  max-height: 200px;
}
.git_btn{
  transition: background-color .2s ease-in-out;
  border: solid 0.1px rgb(122, 122, 122);
  border-radius: 5px;
  background-color: #60288F;
  
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 35px;
}
.git_btn:hover{
  transition: background-color .2s ease-in-out;
  background-color: blueviolet;
}
.git_icon{
  margin: auto;
  padding: none;
  height: 25px;
  width: 25px;
  color: white;
}
.tech_container{
  margin-top: 2%;
  font-weight: 700;
}
.logo_container{
  margin-top: 3%;
  display: flex;
}
.tech_logo{
  margin: auto;
  max-height: 50px;
}
@media (max-width:1200px){
  .card_container{
    display: block;
  }
  .card_text{
    max-height: 200px;
  }
  .card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
}